colour
ipython
isosurfaces
fontTools
manimpango>=0.4.0.post0,<0.5.0
mapbox-earcut
matplotlib
moderngl
moderngl_window
numpy
Pillow
pydub
pygments
PyOpenGL
pyperclip
pyrr
pyyaml
rich
scipy
screeninfo
skia-pathops
svgelements>=1.8.1
sympy
tqdm
typing-extensions; python_version < "3.11"
validators
defusedxml==0.7.1 \
    --hash=sha256:a352e7e428770286cc899e2542b6cdaedb2b4953ff269a210103ec58f6198a61
    --hash=sha256:1bb3032db185915b62d7c6209c5a8792be6a32ab2fedacc84e01b52c51aa3e69
